<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="common/header"></th:block>
    <title>상세보기</title>
</head>
<body>
<th:block th:replace="common/navbar"></th:block>
<div class="container my-5 ">
    <!--<p>principal : <span sec:authentication="principal"/></p>
    <p>principal.username : <span sec:authentication="principal.username"/></p>
    <p>principal.password : <span sec:authentication="principal.password"/></p>
    <p>principal.name : <span sec:authentication="principal.name"/></p>
    <p>principal.role : <span sec:authentication="principal.role"/></p>
    <p>principal.createDate : <span sec:authentication="principal.createDate"/></p>-->

<!--    <p th:text="${#authentication.name}">dd</p>-->
    <div th:if="${#authentication.name == board.user.username}">
        <a th:href="@{'/board/post/'+${board.id}}" class="btn btn-warning">수정하기</a>
        <a id="btn-delete" class="btn btn-danger">삭제하기</a>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
            글번호 : <span th:text="${board.id}"><i>id</i></span>
            작성자 : <span th:text="${board.user.username}"><i>writer</i></span>
        </div>
    </div>
    <hr />
    <form th:object="${board}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label>제목 : </label>
            <input type="text" class="form-control" th:field="*{title}" aria-describedby="emailHelp" readonly>
        </div>
        <div class="form-group">
            <label>내용 : </label>
            <textarea class="form-control" th:field="*{content}" rows="3" readonly></textarea>
        </div>
    </form>

    <div class=" my-3">
        <a class="btn btn-secondary" th:href="@{/board/list}" onclick="history.back()">돌아가기</a>
    </div>
    <br />
    <hr>

    <div class="container">
        <div>
            댓글 <span th:text="${#lists.size(board.replys)}"></span>
        </div>
        <div class="my-2" th:each=" reply : ${board.replys}">
            <span th:text="${reply.user.username}">작성자</span> &nbsp; &nbsp; <span th:text="${#dates.format(reply.writeDate,'yyyy-MM-dd HH:mm')}">작성시간</span>
            <p th:text="${reply.content}">내용</p>
        </div>
    </div>

    <div class="container">
        <label>comment</label>
        <form>
            <div class="input-group">
                <input type="hidden"/>
                <input type="text" class="form-control" id="reply-content" placeholder="댓글을 입력하세요.">
                <span class="input-group-btn"><a class="btn btn-default" id="btn-reply-write">등록</a></span>
            </div>
        </form>
    </div>


</div>
<script th:src="@{/js/auth.js}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<th:block th:replace="common/footer"></th:block>
</body>
</html>